<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    Ads <span class="caret"> </span>
  </a>
  <ul class="dropdown-menu" role="menu">
    <li>
      <a href="/admin/ads/review">Needs Review</a>
    </li>
    <li>
      <a href="/admin/ads/approved">Approved Ads</a>
    </li>
    <li>
      <a href="/admin/ads/rejected">Rejected Ads</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="/admin/ads/reserved">Reserved Ads</a>
    </li>
    <li>
      <a href="/admin/ads/factoids">Factoids</a>
    </li>
  </ul>
</li>
<li>
  <a href="/admin/invoices">Auction Invoices</a>
</li>