<% layout('layout') %>

<div class="content-page col-sm-offset-1 col-sm-10">

  <div class="panel panel-default">

    <div class="panel-heading">
      Auction Slot # 1
    </div>

    <div class="panel-body">

      <div class="col-sm-8">
        <h3>Auction Details</h3>
        Auction Deadline:
        2/14/14 12:00:00

        <br><br>

        <h3>Auction History</h3>
        User: this guy bid 3.5 BTC @ 2/14/14 11:00:00<br>
        User: so and so bid 2.5 BTC @ 2/14/14 10:00:00
      </div>

      <div class="auction_details_right col-sm-4">
        <div class="auction_details_bid">
          Current Bid
          <br>
          3.5 BTC
        </div>

        <div class="auction_details_input input-group">
          <input type="number" class="form-control" value="3.75" step="0.05" min="3.5">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Bid</button>
          </span>
        </div>
      </div>

    </div>

  </div>
  
</div>