<% layout('layout') %>
<div class="content-page col-sm-offset-1 col-sm-10">

  <h3>
    Auction History
  </h3>

  <br>
  <b>Final Ad Slot Results</b>
  <br>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Auction #112</div>
      <div class="col-sm-6">End Date: 2/12/14 (249 bids, 5h 25m 23s)</div>
      <div class="col-sm-3">
        <a href="/history/">History</a>
      </div>
    </div>
  </div>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Auction #111</div>
      <div class="col-sm-6">End Date: 2/5/14 (249 bids, 5h 25m 23s)</div>
      <div class="col-sm-3">
        <a href="/history/">History</a>
      </div>
    </div>
  </div>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Auction #110</div>
      <div class="col-sm-6">End Date: 1/29/14 (249 bids, 5h 25m 23s)</div>
      <div class="col-sm-3">
        <a href="/history/">History</a>
      </div>
    </div>
  </div>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Auction #109</div>
      <div class="col-sm-6">End Date: 1/22/14 (249 bids, 5h 25m 23s)</div>
      <div class="col-sm-3">
        <a href="/history/">History</a>
      </div>
    </div>
  </div>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Auction #108</div>
      <div class="col-sm-6">End Date: 1/15/14 (249 bids, 5h 25m 23s)</div>
      <div class="col-sm-3">
        <a href="/history/">History</a>
      </div>
    </div>
  </div>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Auction #107</div>
      <div class="col-sm-6">End Date: 1/8/14 (249 bids, 5h 25m 23s)</div>
      <div class="col-sm-3">
        <a href="/history/">History</a>
      </div>
    </div>
  </div>
  
</div>