<% layout('layout') %>
<div class="content-page col-sm-offset-1 col-sm-10">

  <h3>
    <span class="label label-danger">Closed</span>
    Bitcoin Talk Ad Auction #112
  </h3>

  <div class="row">

    <div class="col-sm-4 slot_text">
      Auction Start Time: 
      <br>
      2/14/14 12:12:12
    </div>

    <div class="col-sm-4 slot_text">
      Auction End Date: 
      <br>
      2/21/14
    </div>

  </div>

  <br>
  <b>Final Ad Slot Results</b>
  <br>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Ad Slot #1</div>
      <div class="col-sm-3">"Username"</div>
      <div class="col-sm-3">3.5 BTC</div>
      <div class="col-sm-3">
        <a href="/slot/">History</a>
      </div>
    </div>
  </div>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Ad Slot #2</div>
      <div class="col-sm-3">"Username"</div>
      <div class="col-sm-3">3.5 BTC</div>
      <div class="col-sm-3">
        <a href="/slot/">History</a>
      </div>
    </div>
  </div>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Ad Slot #3</div>
      <div class="col-sm-3">"Username"</div>
      <div class="col-sm-3">3.5 BTC</div>
      <div class="col-sm-3">
        <a href="/slot/">History</a>
      </div>
    </div>
  </div>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Ad Slot #4</div>
      <div class="col-sm-3">"Username"</div>
      <div class="col-sm-3">3.5 BTC</div>
      <div class="col-sm-3">
        <a href="/slot/">History</a>
      </div>
    </div>
  </div>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Ad Slot #5</div>
      <div class="col-sm-3">"Username"</div>
      <div class="col-sm-3">3.5 BTC</div>
      <div class="col-sm-3">
        <a href="/slot/">History</a>
      </div>
    </div>
  </div>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Ad Slot #6</div>
      <div class="col-sm-3">"Username"</div>
      <div class="col-sm-3">3.5 BTC</div>
      <div class="col-sm-3">
        <a href="/slot/">History</a>
      </div>
    </div>
  </div>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Ad Slot #7</div>
      <div class="col-sm-3">"Username"</div>
      <div class="col-sm-3">3.5 BTC</div>
      <div class="col-sm-3">
        <a href="/slot/">History</a>
      </div>
    </div>
  </div>

  <div class="slot slot_text">
    <div class="row">
      <div class="col-sm-3">Ad Slot #8</div>
      <div class="col-sm-3">"Username"</div>
      <div class="col-sm-3">3.5 BTC</div>
      <div class="col-sm-3">
        <a href="/slot/">History</a>
      </div>
    </div>
  </div>
  

  <!-- History -->
  <div class="slot_factoids">
    <b>Aggregated Bidding History</b><br>
  </div>
  
</div>