<% layout('sblayout') %>

<div class="content-page col-sm-12">

  <div class="col-sm-offset-3 col-sm-6">
    <div class="reg_qr">
      <div class="reg_qr_text">
        <span class="reg_qr_text">
          Send payment to this address:
        </span>
      </div>
      <div class="reg_qr_img">
        <img src="/images/qrcode.png" class="img-responsive">
      </div>
    </div>
  </div>

</div>  