<% layout('sblayout') %>
<div class="content-page col-sm-12">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand">
          <%= profileName %>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <% if (profileName && profileId) { %>
              <a href="https://bitcointalk.org/index.php?action=profile;u=<%= profileId %>;sa=showPosts">
                <%= profileName %>'s Posts
              </a>
            <% } %>
          </li>
          <li>
            <% if (isOwnPage) { %>
              <a href="<%= browsePrefix %>/ads/editor">New Ad</a>
            <% } %>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <% if (showRegAlert) { %>
    <div class="alert alert-danger" role="alert">
      Ads created by this account will not be seen by the admins until the registration fee is paid. 
    </div>
  <% } %>

  <% if (showRegButton) { %>
    <div class="panel panel-warning"> 
      <div class="panel-heading">
        <strong>You are not registered with us.</strong>
      </div>
      <div class="panel-body">
        It looks like you're trying to view your own page but you haven't registered with us yet. <br />
        Please click the button below to register with us. <br /><br />
        <form action="/registration" method="POST">
          <button class="btn btn-success">
            Please Click Here to Register
          </button>
        </form>
      </div>
    </div>
  <% } %>

  <% if (inRotation.length > 0) { %>
    <div class="panel panel-primary"> 
      <div class="panel-heading">
        <b>Ads In Rotation</b>
        <small>
          If you've won an auction, these are the ads that will be
          displayed on the forum. 
        </small>
      </div>
      <div class="panel-body">
        <% inRotation.forEach(function(ad) { %>
          <% include ads/show %>
        <% }) %>
      </div>
    </div>
  <% } %>

  <% if (approved.length > 0) { %>
    <div class="panel panel-success"> 
      <div class="panel-heading">
        <b>Approved Ads</b>
      </div>
      <div class="panel-body">
        <% approved.forEach(function(ad) { %>
          <% include ads/show %>
        <% }) %>
      </div>
    </div>
  <% } %>

  <% if (rejected.length > 0) { %>
    <div class="panel panel-danger"> 
      <div class="panel-heading">
        <b>Rejected Ads</b>
      </div>
      <div class="panel-body">
        <% rejected.forEach(function(ad) { %>
          <% include ads/show %>
        <% }) %>
      </div>
    </div>
  <% } %>

  <% if (submitted.length > 0) { %>
    <div class="panel panel-warning"> 
      <div class="panel-heading">
        <b>Submitted Ads</b>
      </div>
      <div class="panel-body">
        <% submitted.forEach(function(ad) { %>
          <% include ads/show %>
        <% }) %>
      </div>
    </div>
  <% } %>

  <% if (saved.length > 0) { %>
    <div class="panel panel-default"> 
      <div class="panel-heading">
        <b>Saved Ads</b>
      </div>
      <div class="panel-body">
        <% saved.forEach(function(ad) { %>
          <% include ads/show %>
        <% }) %>
      </div>
    </div>
  <% } %>

</div>