<% layout('layout') %>

<div class="content-page col-sm-offset-1 col-sm-10">
  
  <div class="panel panel-default">
    <div class="panel-heading">
      <b>User Name</b>
    </div>
    <div class="panel-body">
      <div class="col-sm-3">
        Profile Image
        <br>
        User stats

      </div>
      <div class="col-sm-9">
        User's 
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Your Ads</b>
    </div>
    <div class="panel-body">
      <div class="col-sm-offset-1 col-sm-10">
        Show Users ads here
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <b>Your Bids</b>
    </div>
    <div class="panel-body">
      <div class="col-sm-3">
        Bid stats
      </div>
      <div class="col-sm-9">
        Bid History
      </div>
    </div>
  </div>

</div>  