<% layout('sblayout') %>

<div class="content-page col-sm-12">
  
  <div class="col-sm-offset-1 col-sm-5">
  
    <div class="panel panel-default">
      
      <div class="panel-heading">
        <b>Registration</b>
      </div>

      <div class="panel-body">
        <div class="form-group">
          Please Enter your Bitcoin Talk credentials
        </div>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="Email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password">
        </div>
      </div>

    </div>
  
  </div>

  <div class="col-sm-5">
    <div class="reg_qr">
      <div class="reg_qr_text">
        <span class="reg_qr_text">Registration Fre Address:</span>
      </div>
      <div class="reg_qr_img">
        <img src="/images/qrcode.png" class="img-responsive">
      </div>
    </div>
  </div>

</div>  