<% layout('sblayout') %>

<div class="content-page col-sm-12">
  
  <div class="col-sm-offset-1 col-sm-10">
  
    <div class="panel panel-default">
      
      <div class="panel-heading">
        <b>Auction Registration</b>
      </div>

      <div class="panel-body">
        You have started the registration process!
        <br><br>
        An email will be sent with instructions on paying the registration fee. Upon receiving your payment, your registration status will be updated. 
        <br><br>
        In order to bid on auctions, you must also create an advertisement (if you have not done so already), have it approved by an admin, and then put it into rotation from your profile page. If you have not already created an advertisement, please do so now from the profile page. 
      </div>

    </div>
  
  </div>

</div>  