<% layout('sblayout') %>

<div class="content-page col-sm-12">
  <h3>Ad Auction Rules</h3>
  <div>
    <h5>About ads</h5>

<p>The forum auctions off ad space in the area beneath the first post of every topic page. About 25% of ad income goes to the forum moderators as thanks for all of their work. (There are many moderators, so each moderator gets only a small amount -- moderators should be seen as volunteers, not employees.) The rest is stored in the forum's treasury (verifiably), where it sits until the forum needs it.</p>

<p>
  Exact historical impression counts per slot:
  <a href="https://bitcointalk.org/adrotate.php?adstats">
	https://bitcointalk.org/adrotate.php?adstats
  </a>
</p>

<p>
  Info about the current ad slots:
  <a href="https://bitcointalk.org/adrotate.php?adinfo">
	https://bitcointalk.org/adrotate.php?adinfo
  </a>
</p>

<h5>Bidding</h5>

To start bidding, follow these steps:
<ol><li>Create a bitcointalk.org account if you haven't already. Ensure that your email address is valid.</li>
<li>Log into this auctions site using your forum credentials</li>
<li>Click the registration button on the profile page.</li>
<li>You will receive an email. Pay the small registration fee using the invoice included in this email. <b>The registration fee will be subtracted from the cost of your first ad invoice</b>, so it is usually not an additional cost.</li>
<li>Submit a valid ad using the links on the profile page.</li>
<li>Wait for the ad to be approved. Once it is, put it in rotation. Now you can bid.</li>
</ol>

<p>To bid, go to the current auction and bid in the desired regions. You can bid on multiple regions if you have an approved ad for each of them. Each region has a different probability of being shown per pageload in its region. Bids must be evenly divisible by 0.05 bitcoins to be valid. If two people bid at the same price, the first person has priority. Creating a new bid automatically deletes all of your past bids in that region.</p>

<p><b>Bids are binding!</b> You cannot remove bids once placed, and you are expected to pay your bids. You may be banned from the auction system if you fail to pay your winning bids.</p>

<p>If you win, you will have 24 hours to pay your bids upon receiving the invoice email. If you fail to pay, you will lose these slots and you may be banned from the auction system.</p>

<p>If anyone fails to pay in the allotted time, the person with the next-highest bid is given an opportunity to buy up the extra slots. The window of time in which to pay for these extra slots is lower, but the bid price is discounted to make up for this. You will not be banned for failing to pay for extra slots.</p>

<p>If someone's bid prices seem ridiculously high, it is recommended that you not try bid-warring against them. They might not intend to pay for their bids, but you will be on the hook for your bids regardless. You should instead try to get the next-highest bid so that you get their slots when they fail to pay.</p>

<h5>Ad rules</h5>

<p>Ads are allowed to contain any non-annoying HTML/CSS style. No images, JavaScript, or animation (no marquee or blinking). Images aren't allowed even if you use a data: URI. Ads must appear 3 or fewer lines tall in my browser (Firefox, 900px wide). Therefore, they must typically be no more than 42px high and 900px wide. A maximum width of 700px is recommended for compatability with small devices, however.</p>

<p>Ads typically last about 7 days. Look at the time listed on the auction page for the exact time.</p>

<p>Ads may not contain lies, misrepresentation, or inappropriate language. Ads may not link directly to any NSFW page. Ads may be rejected for other reasons.</p>

<p>Ads appear only on topic pages with more than one post, and only for people using the default theme.</p>

<p>Hero members, Donators, VIPs, and moderators have the ability to disable ads. I don't expect many people to use this option. These people don't increase the impression counts for your ads.</p>

<p>I try to bypass Adblock Plus filters as much as possible, though this is not guaranteed. It is difficult or impossible for ABP filters to block the ad space itself without blocking posts. However, filters can match against the URLs in your links, your CSS classes and style attributes, and the HTML structure of your ads.</p>

<p>To prevent matches against URLs: I have some JavaScript which fixes links blocked by ABP. You must PM me (theymos) if you want this for your ads. When someone with ABP and JavaScript enabled views your ads, your links are changed to a special randomized bitcointalk.org URL which redirects to your site when visited. People without ABP are unaffected, even if they don't have JavaScript enabled. This fix is usually not necessary unless you are advertising on the forum a lot.</p>

<p>To prevent matching on CSS classes/styles: Don't use inline CSS, and use the symbols REPLACE0, REPLACE1, etc. instead of CSS classes everywhere in your ad. These will be replaced with random CSS classes on each pageload.</p>

<p>To prevent matching against your HTML structure: Use only one <code>&lt;a&gt;</code> and no other tags if possible. If your ads get blocked because of matching done on something inside of your ad, you are responsible for noticing this and updating your ad HTML.</p>

<p>Ads must not contain forms, they must not load anything from external sites, they must not be especially annoying, and <i>they must be valid XHTML 1.0 Transitional!</i></p>

Common mistakes:
<ul><li>It is invalid XHTML to put a &lt;div&gt; inside of an &lt;a&gt;.</li>
<li>Your ads will be affected by the forum's CSS. Your ads will by default have text-align:center and font-size:90%; your links will have :hover{text-decoration:underline}; etc.</li>
<li>If your top-level element is a block element (&lt;div&gt;, &lt;span style="display:block"&gt;, etc.), your ad will be preceded by a line break, making it too tall. Your top-level element should almost certainly be inline or inline-block.</li>
<li>Special symbols, especially including &amp; symbols in URLs, need to be converted into entities like &amp;amp;.</li>
</ul>
  </div>
</div>
