<% layout('sblayout') %>

<div class="content-page col-sm-12">
  <% include _registration_status %>
<% if (auctionsOpen.length > 0) { %>

  <% auctionsOpen.forEach(function(auction) { %>
    <% include auctions/index_show %>
  <% }) %>
<% } else { %>

  <h3>
    There are no open auctions today. Check back later.
  </h3>
</div>

<% } %>
