<% layout('sblayout') %>

<% if (auctionsOpen.length > 0) { %>

<div class="content-page col-sm-offset-1 col-sm-10">
  <% auctionsOpen.forEach(function(auction) { %>
    <% include auctions/show %>
  <% }) %>
<% } else { %>

<div class="content-page col-sm-offset-1 col-sm-10">
  <h3>
    There are no open auctions today. Check back later.
  </h3>
</div>

<% } %>
