<% layout('layout') %>

<div class="content-page col-sm-offset-1 col-sm-10">

  <div class="panel panel-default">

    <div class="panel-heading">
      <b>Ad Slot #1</b>
    </div>

    <div class="panel-body">

      <div class="col-sm-8">
        <h4>Bid History</h4>
        User: this guy bid 3.5 BTC @ 2/14/14 11:00:00<br>
        User: so and so bid 2.5 BTC @ 2/14/14 10:00:00
      </div>

      <div class="slot_details_right col-sm-4">
        <div>
          Current Bid
          <br>
          3.5 BTC
        </div>

        <div class="input-group">
          <input type="number" class="form-control" value="3.55" step="0.05" min="3.5">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button">Bid</button>
          </span>
        </div>
      </div>

    </div>

  </div>
  
</div>