/* -- CSS resets and bootstrap fluid fixes ------------- */
body { 
  background-image: url(../images/subtlenet2.png);
  padding: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  color: #606060;
  text-shadow: 0 1px #fff; }
.bootstrap-fluid-fix { padding: 0 15px; }
.panel-primary > .panel-heading { text-shadow: 0 0; }
.navbar { border-radius: 0; }

/* -- Main layout code --------------------------------- */

/* header */

#header { margin-bottom: 0; }
#mobile-menu-btn { height: 34px; padding-top: 6px; }

@media all and (min-width: 780px) {
  #header-sidenav { display: none !important; }
}

#header-login { padding-top: 6px; }
#header-login form { float: right;}
@media (max-width: 780px) {
  #header-login form { float: none; margin-top: 14px; margin-bottom: 20px;}
}

.header-logout-message {
  padding-top: 15px;
  padding-left: 15px;
  float: left; }
.header-logout-menu-message { padding-top: 7px; }
.header-logout-container-wide { height: 40px; }
.header-logout-container-wide a { float: right; }
@media all and (min-width: 780px) {
  .header-logout-message { display: none; }
}
@media (max-width: 780px) {
  #header-login form { float: none; margin-bottom: 20px;}
  .header-logout-menu-message {display: none;}
  .header-logout-container-wide a { float: none; width: 100%; }
}

/* sidebar */

.sidebar {
  background-color: #F2F2F2;
  min-height: 100%;
  position: fixed;  
  width: 100px; 
  border-right: 2px solid #eee; }

.sidebar-button {
  width: 100%;
  text-align: center;
  padding: 10px;
  padding-top: 15px;
  font-weight: bold; }
.sidebar > a { color: #6C6C6C; }
.sidebar > a:hover { text-decoration: none; }
.sidebar-button:hover { background-color: #D7D7D7; }
.icon-large { font-size: 25px; }

.logo {
  height: 54px; 
  text-align: center;
  padding-top: 18px;
  margin: 0; 
  border-bottom: 2px solid #eee; }

/* main container */

.main-container {
  padding: 0 15px;
  margin-left: 100px; }
.main-container h3 { margin-top: 10px; }

/* hide sidebar on smaller screens */
@media (max-width: 768px) {
  .main-container { margin-left: 0; }
}

.content-page { padding-top: 15px; padding-bottom: 30px; }

/* -- Card Layouts ------------------------------------- */

.cardBody { margin: 0 15px; }
.cardHeader { font-size: 20px; word-wrap: break-word; }
.cardSpacing {margin: 10px 0; }
.cardTitle { margin: 0; }

.auctionCardLabel { 
  font-size: 24px;
  text-shadow: 0 0; }

/* -- Auction Page ------------------------------------- */

.slot {
  padding: 10px;
  background-color: #ECECEC;
  margin: 10px 0; }
.slot_text { text-align: center; font-weight: 700; }
.slot_factoids { padding-top: 30px; }
.bidding { padding: 15px 0; }
.bid_button { padding-top: 19px; }
.slot_listing { margin-top: 15px;}

/* -- Auction Details Page ----------------------------- */

.slot_details_right {
  padding-top: 15px; 
  text-align: center;
  font-weight: 700;
  background-color: #ECECEC; }
.slot_details_right > div { padding-bottom: 15px; }
.auction_listing { padding: 10px 0; }
.auction_header { font-weight: 700; }

/* -- Admin Page --------------------------------------- */

.auction_add_button { text-align: center; padding-top: 20px; }

/* -- Auction Edit Page -------------------------------- */

.editControls { margin-top: 30px; }

/* -- Registration Page -------------------------------- */

.reg_qr { padding: 15px; background-color: #ECECEC; text-align: center; }
.reg_qr_text { font-size: larger; font-weight: 700; }
.reg_qr_img { text-align: center; padding-top: 15px; }
.reg_qr_img img { display: inline; }

/* -- Ad Upload page  CSS ------------------------------ */

.upload-header { padding-left: 20px; }
.coding-section { padding-top: 20px; }
.review-section { padding-top: 30px; }
.review-section-text { padding-bottom: 20px; }
.review-buttons { padding-top: 20px; }

/* -- Ad Page ------------------------------------------ */

.ad_nav_left { 
  float: left;
  height: 50px;
  padding: 15px 0px;
  color: #428bca;
  font-size: 18px;
  line-height: 20px; }

.ad_nav_right { 
  float: right;
  height: 50px;
  padding: 15px 0px;
  color: #428bca;
  font-size: 18px;
  line-height: 20px; }

.ad_link_left {
  float: left;
  padding: 5px 0px;
  color: #428bca;
  font-size: 18px;
  line-height: 20px; }

.ad_link_right {
  float: right;
  padding: 5px 0px;
  color: #428bca;
  font-size: 18px;
  line-height: 20px; }