/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
}


/* CSS resets */
body { padding: 0; }

/* bootstrap fluid fix */
.bootstrap-fluid-fix { padding: 0 15px; }

/* Main layout code */
.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ECECEC;
}

.sidebar {
  background-color: #F7F7F7;
  min-height: 100%;
  box-sizing: border-box;
  position: fixed;  
  padding: 15px;
  padding-top: 0;
  width: 125px;
}

.logo {
  height: 54px; 
  text-align: center;
  background-color: #E2E2E2;
  padding-top: 18px;
  margin-bottom: 15px;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.main {
  padding: 0px;
  box-sizing: border-box;
}

.main-container {
  padding: 0 15px;
  margin-left: 125px;
  box-sizing: border-box;
}
.main-container h3 { margin-top: 10px;}
.main-container h4 { padding-left: 15px; }

.content-page {
  padding-top: 15px;
}


/* Auction Page */

.auction {
  padding: 15px;
  background-color: #ECECEC;
  margin: 10px 0; 
}

.auction_label {
  padding: 0 15px 10px;
}

.auction_desc { text-align: center; }
.auction_desc_text {
  font-size: larger;
  font-weight: 700;
}

.auction_time {
  text-align: center;
  font-size: larger;
  font-weight: 700;
}

.auction_bid {
  text-align: center;
  font-size: larger;
  font-weight: 700;
}

.auction_action {
  text-align: center;
}

.auction_warning {
  padding: 10px 15px 0;
  text-align: center;
}

.auction_factoids {
  padding-top: 30px;
}



/* Auction Details Page */

.auction_details_desc {

}

.auction_details_right {
  padding-top: 15px; 
  text-align: center;
  font-size: larger;
  font-weight: 700;
  background-color: #ECECEC;
}
.auction_details_right > div {
  padding-bottom: 15px;
}


/* Ad Upload page  CSS */
.upload-header { padding-left: 20px; }

.coding-section { padding-top: 20px; }

.review-section { padding-top: 30px; }