
<div style="width: 90%; margin: auto;">
  <strong>Your bid has been removed from auction <%= auctionId %></strong>
  <br>
  One or more of your bids has been removed by an administrator. If you didn't already know about this, then you should be contacted shortly with more info.
  <br><br>

  <% if (invoices && invoices.length > 0) { %>
    Here is a list of invalidated invoices: <br>
    <% invoices.forEach(function(invoice) { %>
      <%= invoice %><br>
    <% }) %>
    <br>If you have already paid an invalidated invoice, contact an administator for a refund.
  <% } %>
</div>

<br><br>
Thank you for participating in this auction. 
<br><br>

<em>This is a automated email. Please do not reply to this email.</em>