<div style="width: 90%; margin: auto;">
  The most recent bitcointalk.org ad auction has ended. Thanks for participating! If you've won any ad slots in the auction, a separate email will be sent to you with instructions on how to make your payment. Additionally, if you had a reasonably high bid when the auction ended, but not all of your bids were filled, then you should keep your eyes open for emails over the next 24 hours in case one of the winning advertisers doesn't pay and you are next in line to pick up these extra slots. <i>Extra slots are discounted, sometimes substantially.</i>
  <br><br>
  <% if (nextAuction) { %>
    The next available auction will take place at <%= new Date(nextAuction.start).toUTCString() %>.
  <% } else { %>
    There are no auctions currently planned for the immediate future.
  <% } %>
</div>

<br><br>
<em>This is a automated email. Please do not reply to this email.</em>