<h1>Your Registration Fee has been Processed</h1>

<hr>

<div style="width: 90%; margin: auto;">
  The auction system has received your registration fee. <br>
  Here is the URL to the original invoice:
  <br><br>
  <a href="<%= invoiceUrl %>/invoices/<%= invoiceId %>">
    Click here to view the invoice.
  </a>
  <br><br>
  Next Steps:<br>
  - If you have not already done so, create and submit an advertisement via your profile page.<br>
  - Once it's been approved, put the approved advertisement into rotation by clicking on the advertisement on your profile page and clicking the "Add to rotation" button.<br>
  - Once you have an advertisement in rotation, you will be allowed to bid on auctions.
</div>

<br><br>

<em>This is a automated email. Please do not reply to this email.</em>