<h1>You have Registered for Auction <%= auctionId %>!</h1>

<hr>

<div style="width: 90%; margin: auto;">
  In order to complete the registration process, please pay the registration fee. We've provided a link below to an invoice and a payment processor to handle the payment.
  <br><br>
  <a href="<%= invoiceUrl %>/invoices/<%= invoiceId %>">
    Click here to view your invoice.
  </a>
  <br><br>
  Upon completion of the payment process, your status within the auction will be automatically updated and you'll be allowed to bid on the auction. 
</div>

<br><br>
Thank you for participating in this auction. 
<br><br>

<em>This is a automated email. Please do not reply to this email.</em>