<h1>You have asked to register with the auction system!</h1>

<hr>

<div style="width: 90%; margin: auto;">
  In order to complete the registration process, please pay the registration fee. We've provided a link below to an invoice and a payment processor to handle the payment.
  <br><br>
  <a href="<%= invoiceUrl %>/invoices/<%= invoiceId %>">
    Click here to view your invoice.
  </a>
  <br><br>
  Upon completion of the payment process, your status within the auction system will be automatically updated. In order to bid on auctions, you will also need to have an advertisement approved and added to your rotation. You can start this process by going to your profile page and creating an advertisement.
</div>

<br><br>

<em>This is a automated email. Please do not reply to this email.</em>