<div style="width: 90%; margin: auto;">
  You are receiving this email because someone using your email address is attempting to register for the bitcointalk.org ad auction system. If you did not do this, then you can just ignore this email. If you receive many copies of this email, go <a href="https://bitcointalk.org/index.php?action=reminder">here</a>, enter your email address, and reset your password using the link that will be emailed to you.

  To participate in auctions, you must pay a one-time registration fee of <%= registrationFee %> BTC. This requirement is an automated means of allowing new bidders to easily join while also serving as an anti-spam measure to guard against the negative effects of non-serious bidders. This fee will be subtracted from your first invoice if you ever win any ad slots, so it is usually not an additional cost. However, it will not be refunded if you never win any ad slots or if you are banned from the auction system.

  In order to complete the registration process, please refer to the invoice link below.  For your own protection, please verify that the URL begins with <b><%= invoiceUrl %></b>.
  <br><br>
  <a href="<%= invoiceUrl %>/invoices/<%= invoiceId %>">
    Click here to view your invoice.
  </a>
  <br><br>
  Upon completion of the payment process, you will become eligible to submit ads for review. After at least one of your advertisements is approved by an administrator, you will be able to bid in ad auctions. You can start this process by going to your profile page and creating an advertisement.
</div>

<br><br>

<em>This is a automated email. Please do not reply.</em>