<h1>You have asked to register with the BitcoinTalk auction system!</h1>

<hr>

<div style="width: 90%; margin: auto;">
  BitcoinTalk ad auctions require the payment of a one-time registration fee of <%= registrationFee %> BTC.  This requirement is an automated means to allow new bidders to easily join while also serving as an anti-spam measure to guard against the negative effects of non-serious bidders. The registration fee is non-refundable, however it is not an additional cost as your first invoice will be discounted by this amount.

  In order to complete the registration process please refer to the Invoice link below.  For your own protection, please verify that the URL begins with <b><%= invoiceUrl %></b>.
  <br><br>
  <a href="<%= invoiceUrl %>/invoices/<%= invoiceId %>">
    Click here to view your invoice.
  </a>
  <br><br>
  Upon completion of the payment process you will become eligible to submit ads for review. After your advertisement is approved by an administrator you will be able to bid in ad auctions. You can start this process by going to your profile page and creating an advertisement.
</div>

<br><br>

<em>This is a automated email. Please do not reply.</em>