
<div style="width: 90%; margin: auto;">
  <strong>You have been removed from Auction: <%= auctionId %></strong>
  <br>
  An administrator has found your bid or your ad in violation of the terms of this auction. For this reason, all your bids and invoices for this auction in region <%= region %> have been invalidated. If you have already paid an invoice, please contact an administator for a refund.
  <br><br>

  Here is a list of invalidated bids and invoices: <br>
  <% results.forEach(function(result) { %>
    <%= result %><br>
  <% }) %>
</div>

<br><br>
Thank you for participating in this auction. 
<br><br>

<em>This is a automated email. Please do not reply to this email.</em>