
<div style="width: 90%; margin: auto;">
  <strong>You have been removed from auction <%= auctionId %></strong>
  <br>
  An administrator has found your bids or your ads to be in violation of the terms of this auction. For this reason, all of your bids and invoices for this auction in region <%= region %> have been invalidated. If you have already paid an invoice, please contact an administator for a refund. We apologize for the inconvenience.
  <br><br>

  Here is a list of invalidated bids and invoices: <br>
  <% results.forEach(function(result) { %>
    <%= result %><br>
  <% }) %>
</div>

<br><br>
Thank you for participating in this auction. 
<br><br>

<em>This is a automated email. Please do not reply to this email.</em>