<h1>Auction Invoice for <%= auctionId %> has been paid</h1>

<hr>

<div style="width: 90%; margin: auto;">
  Your payment for auction: <%= auctionId %> has been received. A link to the original invoice is include.
  <br><br>
  <a href="<%= invoiceUrl %>/invoices/<%= invoiceId %>">
    Click here to view the invoice.
  </a>
  <br><br>
  Now that you've won, please remember to review you advertisements and ensure the correct number of advertisements are set to your rotation on your profile page. If you have less advertisements then the number of slots you've won, random multiples of the same ad will be displayed. If you have more advertisements than the number of slots you've won, a random selection of ads will be used. 
</div>

<br><br>

<em>This is a automated email. Please do not reply to this email.</em>